@model Author
@{
    ViewBag.Title = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    <div>
        <p>Name: @Model.Name</p>
        <p>Date of birth: @Model.BirthDate</p>
        <div>
            <p>Books:</p>
            @foreach (Book entity in Model.Books)
            {
                <p><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@entity.Id">@entity.Name</a></p>
            }
        </div>
    </div>
</div>