@model UsersIndexViewModel
@{
    string strTitle = "Users";
    ViewBag.Title = strTitle;
}

<div>
    <h1>@strTitle</h1>
    <div>
        <h2>Search by user's' name</h2>
        <div>
            <form method="get">
                <label>Name: </label>
                <input id="userName" name="userName" value="@Model.FilterViewModel.SelectedUserName" />
                <input type="submit" value="Find" />
            </form>
        </div>
        <div>
            <table class="table table-borderless">
                <tr>
                    <th>
                        <a asp-area="Admin"
                           asp-controller="Genres"
                           asp-action="Index"
                           asp-route-sortOrder="@(Model.SortViewModel.UserNameSort)"
                           asp-route-userName="@(Model.FilterViewModel.SelectedUserName)">
                            Name
                        </a>
                    </th>
                </tr>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserName</td>
                        <td>
                            <form asp-area="Admin" asp-controller="Genres" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                }
            </table>
            <page-link page-model="Model.PageViewModel" page-action="Index"
                       page-url-genreName="@(Model.FilterViewModel.SelectedUserName)"
                       page-url-sortOrder="@(Model.SortViewModel.Current)"></page-link>
        </div>
    </div>
</div>