@model Book
@{
    ViewBag.Title = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    <div>
        <p>Title: @Model.Name</p>
        <p>Author: @Model.Author!.Name</p>
        <p>Genre: @Model.Genre!.Name</p>
        <p>Price: @Model.Price</p>
    </div>
</div>